body {
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.container {
    display: flex;
    height: 1080px;
    background: right top url(../../assets/imagen_background.png) no-repeat;
}

.text {
    margin-top: 197px;
    margin-left: 287px;
    color: #E0E0E0;
}

.container_texto h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
}

.container_texto p {
    width: 301px;
    height: 90px;
    margin-top: 18px;
    margin-bottom: 97px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.container_login {
    display: flex;
    flex-direction: column;
    margin-top: 135px;
}

.container_login h1 {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}

.container_login input {
    width: 379px;
    height: 60px;
    margin-bottom: 33px;
    background-color: transparent;
    color: #E0E0E0;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding-left: 20px;
}

.transition {
    position: relative;
}

.input_transition {
    outline: none;
}

.login {
    position: absolute;
    right: -60px;
    top: 18px;
    transition: right .100s ease-in;
    cursor: text;
    font-size: 25px;
    padding-right: 20px;
}

.input_transition:focus {
    border: 2px solid cyan
}

input[type='text']:focus~label,
input[type='password']:focus~label,
.input_transition:not(:placeholder-shown).input_transition:not(:focus)~label {
    right: 0;
}

.password_error {
    border: 1px solid #E9B425;
}

.textErro {
    width: 283px;
    height: 40px;
    margin-left: 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #E9B425;
}

.container_login button {
    width: 379px;
    height: 67px;
    margin-top: 82px;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    border: none;
    border-radius: 50px;
}

.logo {
    width: 484px;
    height: 66px;
    margin-top: 36px;
    margin-left: 534px;
    background: center url(../../assets/logo_compass.png) repeat no-repeat;

}