.create_task {
    width: 100%;
    height: 915px;
}

.conteinet_top {
    margin-top: 35px;
    display: flex;
}

.description {
    width: 391px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #FECE00;
    border-radius: 10px;
    margin-left: 24px;
    margin-right: 3px;
    padding-left: 15px;
}

.weekDay {
    width: 240px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #FECE00;
    border-radius: 10px;
    margin-right: 3px;
    padding-left: 8px;
}

.hora {
    width: 120px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #FECE00;
    border-radius: 10px;
    padding-left: 8px;
}

.btn_task {
    width: 200px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.add {
    margin-left: 692px;
    margin-right: 24px;
    background-color: #00BA88;
}

.delete_all {
    background-color: #FF3D1F;
    ;
}

.conteiner_bnt_bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btnWeekDay {
    width: 240px;
    height: 33px;
    margin-top: 23px;
    border: none;
    text-align: start;
    padding-left: 7px;
    background-color: #00BA88;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 9px 9px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-right: 3px;
}

#Sunday {
    background: #FF0024;
}

#Monday {
    background: #FF8000;
}

#Tuesday {
    background: #FFCE00;
}

#Wednesday {
    background: rgba(255, 0, 36, 0.7);
}

#Thursday {
    background: rgba(255, 128, 0, 0.7);
}

#Friday {
    background: rgba(255, 206, 0, 0.7);
}

#Saturday {
    background: rgba(255, 0, 36, 0.5);
}

.mostrar_task {
    margin-left: 24px;
}

.container_time {
    width: 85px;
    height: 75px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
}

.container_tasks {
    display: flex;
}

.conteiner_time_task {
    width: 85px;
    height: 85px;
    background: #FF8000;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_task {
    width: 512px;
    height: 85px;
    display: flex;
    background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
}

.conteiner_cor {
    width: 14px;
    background-color: #FF8000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 13px;
    margin-left: 18px;
}

.container_p {
    width: 442px;
    height: 60px;
    margin: 12px 0;
}

.container_task p {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.container_task button {
    width: 57px;
    height: 25px;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;background: #FF3D1F;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 7px;
    border: none;
    color: #FFFFFF;
}